In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("data/hp_script.csv",encoding = "ISO-8859-1", dtype=str
)
df.head()

,ID_number,scene,character_name,dialogue
0,1,1,Albus Dumbledore,"I should have known that you would be here, Pr..."
1,2,1,Minerva McGonagall,"Good evening, Professor Dumbledore. Are the ru..."
2,3,1,Albus Dumbledore,"I'm afraid so, Professor. The good, and the bad."
3,4,1,Minerva McGonagall,And the boy?
4,5,1,Albus Dumbledore,Hagrid is bringing him.

In [21]:
df.drop("ID_number", axis="columns", inplace=True)
df.head()

  scene      character_name                                           dialogue
0     1    Albus Dumbledore  I should have known that you would be here, Pr...
1     1  Minerva McGonagall  Good evening, Professor Dumbledore. Are the ru...
2     1    Albus Dumbledore   I'm afraid so, Professor. The good, and the bad.
3     1  Minerva McGonagall                                       And the boy?
4     1    Albus Dumbledore                            Hagrid is bringing him.

In [22]:
df.tail(10)

    scene    character_name                                           dialogue
783    34     Rubeus Hagrid  Come on now, hurry up, you'll be late! Train's...
784    34  Hermione Granger                                    Come on, Harry.
785    34      Harry Potter                                        One minute.
786    34     Rubeus Hagrid  Thought you were leaving without sayin' goodby...
787    34      Harry Potter                                    Thanks, Hagrid.
788    34     Rubeus Hagrid  Go on. On with you, on with you now. Oh, now l...
789    34      Harry Potter  But Hagrid, we're not allowed to do magic away...
790    34     Rubeus Hagrid     I do, but your cousin don't, do he? Eh? Hmmhmm
791    34  Hermione Granger        Feels strange to be going home, doesn't it?
792    34      Harry Potter                    I'm not going home, not really.

In [23]:
df.drop('scene',axis='columns', inplace=True)
df.head()

       character_name                                           dialogue
0    Albus Dumbledore  I should have known that you would be here, Pr...
1  Minerva McGonagall  Good evening, Professor Dumbledore. Are the ru...
2    Albus Dumbledore   I'm afraid so, Professor. The good, and the bad.
3  Minerva McGonagall                                       And the boy?
4    Albus Dumbledore                            Hagrid is bringing him.

In [24]:
df.to_json("data/hp_script.json", orient="records")

In [25]:
df.to_csv("data/hp_quotes.csv")