In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/lotr_scripts.csv",encoding = "ISO-8859-1", dtype=str
)
df.head()

,Unnamed: 0,char,dialog,movie
0,0,DEAGOL,"Oh Smeagol Ive got one! , Ive got a fish Smeag...",The Return of the King
1,1,SMEAGOL,"Pull it in! Go on, go on, go on, pull it in! Â",The Return of the King
2,2,DEAGOL,Arrghh!,The Return of the King
3,3,SMEAGOL,Deagol! Â,The Return of the King
4,4,SMEAGOL,Deagol! Â,The Return of the King

In [4]:
df.drop('Unnamed: 0',axis='columns', inplace=True)
df.head()

,char,dialog,movie
0,DEAGOL,"Oh Smeagol Ive got one! , Ive got a fish Smeag...",The Return of the King
1,SMEAGOL,"Pull it in! Go on, go on, go on, pull it in! Â",The Return of the King
2,DEAGOL,Arrghh!,The Return of the King
3,SMEAGOL,Deagol! Â,The Return of the King
4,SMEAGOL,Deagol! Â,The Return of the King

In [5]:
df

,char,dialog,movie
0,DEAGOL,"Oh Smeagol Ive got one! , Ive got a fish Smeag...",The Return of the King
1,SMEAGOL,"Pull it in! Go on, go on, go on, pull it in! Â",The Return of the King
2,DEAGOL,Arrghh!,The Return of the King
3,SMEAGOL,Deagol! Â,The Return of the King
4,SMEAGOL,Deagol! Â,The Return of the King
...,...,...,...
2385,PIPPIN,Merry!Â,The Return of the King
2386,ARAGORN,Merry!,The Return of the King
2387,MERRY,He's always followed me everywhere I went sinc...,The Return of the King
2388,ARAGORN,One thing I've learnt about Hobbits: They are ...,The Return of the King
2389,MERRY,Foolhardy maybe. He's a Took!,The Return of the King

In [6]:
df.drop_duplicates()

,char,dialog,movie
0,DEAGOL,"Oh Smeagol Ive got one! , Ive got a fish Smeag...",The Return of the King
1,SMEAGOL,"Pull it in! Go on, go on, go on, pull it in! Â",The Return of the King
2,DEAGOL,Arrghh!,The Return of the King
3,SMEAGOL,Deagol! Â,The Return of the King
6,SMEAGOL,Give us that! Deagol my love Â,The Return of the King
...,...,...,...
2385,PIPPIN,Merry!Â,The Return of the King
2386,ARAGORN,Merry!,The Return of the King
2387,MERRY,He's always followed me everywhere I went sinc...,The Return of the King
2388,ARAGORN,One thing I've learnt about Hobbits: They are ...,The Return of the King
2389,MERRY,Foolhardy maybe. He's a Took!,The Return of the King

In [22]:
df.to_json("data/scripts_lotr.json", orient="records")